In [150]:
import json
import requests
import pandas as pd
from sodapy import Socrata
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [2]:
us_state_abbrev = {
    'United States': 'USA',
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York City':"NYC",
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [3]:
base_url = "https://data.cdc.gov/resource/9bhg-hcku.json"
response = requests.get(base_url)
cdc_data = response.json()

In [4]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)
#results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [5]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [6]:
sex_df = results_df.loc[results_df['age_group']=="All Ages"]

In [7]:
del sex_df['data_as_of']
del sex_df['start_date']
del sex_df['end_date']
del sex_df['group']
del sex_df['age_group']
del sex_df['total_deaths']
del sex_df['pneumonia_deaths']
del sex_df['pneumonia_and_covid_19_deaths']
del sex_df['influenza_deaths']
del sex_df['pneumonia_influenza_or_covid']
del sex_df['footnote']

In [8]:
male_df = sex_df.loc[sex_df["sex"]=="Male"]
#male_df

In [9]:
female_df = sex_df.loc[sex_df["sex"]=="Female"]
#female_df

In [10]:
merged_df = pd.merge(male_df, female_df, on='state')

In [11]:
#merged_df

In [12]:
all_df = sex_df.loc[sex_df["sex"]=="All Sexes"]
#all_df.head()

In [13]:
new_df = pd.merge(merged_df, all_df, how='left', on='state')

In [14]:
#new_df.head()

In [15]:
del new_df['sex_x']
del new_df['sex_y']
del new_df['sex']
del new_df['year']
del new_df['year_x']
del new_df['year_y']

In [16]:
new_df = new_df.rename(columns={"state":"State", "covid_19_deaths_x":"Male COVID-19 Deaths", "covid_19_deaths_y": "Female COVID-19 Deaths", "covid_19_deaths":"All Sexes COVID-19 Deaths"})

In [17]:
new_df = new_df.loc[new_df['State']!="Puerto Rico"]

In [18]:
#new_df

In [19]:
client = Socrata("data.cdc.gov", None)

results = client.get("9bhg-hcku", limit=6000)

results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [20]:
results_df = results_df.loc[results_df['group']=="By Total"]

In [21]:
age_df = results_df.loc[results_df['sex']=="All Sexes"]

In [22]:
del age_df['data_as_of']
del age_df['start_date']
del age_df['end_date']
del age_df['group']
del age_df['sex']
del age_df['total_deaths']
del age_df['pneumonia_deaths']
del age_df['pneumonia_and_covid_19_deaths']
del age_df['influenza_deaths']
del age_df['pneumonia_influenza_or_covid']
del age_df['footnote']
del age_df['year']

In [23]:
#age_df

In [24]:
age_df["age_group"].value_counts()

85 years and over    54
55-64 years          54
30-39 years          54
Under 1 year         54
1-4 years            54
15-24 years          54
35-44 years          54
All Ages             54
18-29 years          54
0-17 years           54
40-49 years          54
5-14 years           54
25-34 years          54
75-84 years          54
65-74 years          54
45-54 years          54
50-64 years          54
Name: age_group, dtype: int64

In [25]:
age_df = age_df.loc[age_df['age_group'] != "18-29 years"]
age_df = age_df.loc[age_df['age_group'] != "0-17 years"]
age_df = age_df.loc[age_df['age_group'] != "Under 1 year"]
age_df = age_df.loc[age_df['age_group'] != "30-39 years"]
age_df = age_df.loc[age_df['age_group'] != "40-49 years"]
age_df = age_df.loc[age_df['age_group'] != "50-64 years"]

In [26]:
age_df = age_df.replace({"1-4 years":"Under 5 years"})
age_df['age_group'].value_counts()

55-64 years          54
All Ages             54
35-44 years          54
45-54 years          54
15-24 years          54
65-74 years          54
75-84 years          54
Under 5 years        54
25-34 years          54
5-14 years           54
85 years and over    54
Name: age_group, dtype: int64

In [27]:
#age_df.fillna(0)

In [28]:
under5_df = age_df.loc[age_df["age_group"]=="Under 5 years"]

In [29]:
year5_14_df = age_df.loc[age_df["age_group"]=="5-14 years"]

In [30]:
year15_24_df = age_df.loc[age_df["age_group"]=="15-24 years"]

In [31]:
year25_34_df = age_df.loc[age_df["age_group"]=="25-34 years"]

In [32]:
year35_44_df = age_df.loc[age_df["age_group"]=="35-44 years"]

In [33]:
year45_54_df = age_df.loc[age_df["age_group"]=="45-54 years"]

In [34]:
year55_64_df = age_df.loc[age_df["age_group"]=="55-64 years"]

In [35]:
year65_74_df = age_df.loc[age_df["age_group"]=="65-74 years"]

In [36]:
year75_84_df = age_df.loc[age_df["age_group"]=="75-84 years"]

In [37]:
year85_df = age_df.loc[age_df["age_group"]=="85 years and over"]

In [38]:
all_ages_df = age_df.loc[age_df["age_group"]=="All Ages"]

In [39]:
merged_age = pd.merge(under5_df, year5_14_df, on='state')
merged_age = pd.merge(merged_age, year15_24_df, on ='state')
#merged_age.head()

In [40]:
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"Under 5 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "5-14 Years COVID-19 Deaths", 
                                "covid_19_deaths":"15-24 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
del merged_age['age_group']
#merged_age.head()

In [41]:
merged_age = pd.merge(merged_age, year25_34_df, on ='state')
merged_age = pd.merge(merged_age, year35_44_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"25-34 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "35-44 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [42]:
merged_age = pd.merge(merged_age, year45_54_df, on ='state')
merged_age = pd.merge(merged_age, year55_64_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"45-54 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "55-64 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [43]:
merged_age = pd.merge(merged_age, year65_74_df, on ='state')
merged_age = pd.merge(merged_age, year75_84_df, on ='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"65-74 Years COVID-19 Deaths", 
                                "covid_19_deaths_y": "75-84 Years COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [44]:
merged_age = pd.merge(merged_age, year85_df, on ='state')
merged_age = pd.merge(merged_age, all_ages_df, on='state')
merged_age = merged_age.rename(columns={
                                "covid_19_deaths_x":"85 Years and Over COVID-19 Deaths",
                                "covid_19_deaths_y":"All Ages COVID-19 Deaths"
                                       })
del merged_age['age_group_x']
del merged_age['age_group_y']
#merged_age.head()

In [45]:
merged_age = merged_age.fillna(0)

In [46]:
merged_age = merged_age.loc[merged_age['state']!='Puerto Rico']

In [47]:
merged_age = merged_age.rename(columns={"state":"State"})
#merged_age.head()

In [48]:
age_sex_df = pd.merge(new_df, merged_age, on='State')
#age_sex_df

In [49]:
age_sex_df = age_sex_df.fillna(0)
#age_sex_df

In [50]:
for index, row in age_sex_df.iterrows():
    state = row[0]
    age_sex_df.loc[index,"State"] = us_state_abbrev[state]

In [51]:
#age_sex_df

In [52]:
#age_sex_df.to_csv("../data-file/total-age-sex-data.csv", index=False, header=True)

In [53]:
population_df = pd.read_csv("../jennie-folder/Population_byCDCAgeGroup_byState.csv")

In [54]:
for index, row in population_df.iterrows():
    state = row[2]
    population_df.loc[index,"State"] = us_state_abbrev[state]

In [55]:
population_df = population_df[['State', 'CDC_AgeGroups', 'Population']]

In [56]:

under5_pop = population_df.loc[population_df['CDC_AgeGroups']=="Under 5 years"]
years5_14_pop = population_df.loc[population_df['CDC_AgeGroups']=="5-14 years"]
years15_24_pop = population_df.loc[population_df['CDC_AgeGroups']=="15-24 years"]
years25_34_pop = population_df.loc[population_df['CDC_AgeGroups']=="25-34 years"]
years35_44_pop = population_df.loc[population_df['CDC_AgeGroups']=="35-44 years"]
years45_54_pop = population_df.loc[population_df['CDC_AgeGroups']=="45-54 years"]
years55_64_pop = population_df.loc[population_df['CDC_AgeGroups']=="55-64 years"]
years65_74_pop = population_df.loc[population_df['CDC_AgeGroups']=="65-74 years"]
years75_84_pop = population_df.loc[population_df['CDC_AgeGroups']=="75-84 years"]
years85_pop = population_df.loc[population_df['CDC_AgeGroups']=="85 years and over"]
all_ages_pop = population_df.loc[population_df['CDC_AgeGroups']=="Total"]

In [57]:
merged_pop = pd.merge(under5_pop, years5_14_pop, on ='State')
merged_pop = pd.merge(merged_pop, years15_24_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"Under 5 Years Population",
                                "Population_y":"5-14 Years Population",
                                "Population":"15-24 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [58]:
merged_pop = pd.merge(merged_pop, years25_34_pop, on ='State')
merged_pop = pd.merge(merged_pop, years35_44_pop, on='State')
merged_pop = pd.merge(merged_pop, years45_54_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"25-34 Years Population",
                                "Population_y":"35-44 Years Population",
                                "Population":"45-54 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [59]:
merged_pop = pd.merge(merged_pop, years55_64_pop, on ='State')
merged_pop = pd.merge(merged_pop, years65_74_pop, on='State')
merged_pop = pd.merge(merged_pop, years75_84_pop, on='State')
merged_pop = merged_pop.rename(columns={
                                "Population_x":"55-64 Years Population",
                                "Population_y":"65-74 Years Population",
                                "Population":"75-84 Years Population"
                                       })
del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
del merged_pop['CDC_AgeGroups']
#merged_pop.head()

In [60]:
merged_pop = pd.merge(merged_pop, years85_pop, on ='State')
merged_pop = pd.merge(merged_pop, all_ages_pop, on ='State')


merged_pop = merged_pop.rename(columns={
                                "Population_x":"85 Years and Over Population",
                                "Population_y":"Total Population"
                                       })

del merged_pop['CDC_AgeGroups_x']
del merged_pop['CDC_AgeGroups_y']
#merged_pop.head()

In [61]:
merged_pop['Total Population'].sum()

327533774.0

In [62]:
new_row_pop = {'State':'USA', 'Under 5 Years Population':19531315.0, 
              '5-14 Years Population':40926765.0, 
              '15-24 Years Population':42599542.0,
              '25-34 Years Population':45775780.0,
              '35-44 Years Population':41550175.0,
              '45-54 Years Population':40800616.0,
              '55-64 Years Population':42378661.0,
              '65-74 Years Population':31433214.0,
              '75-84 Years Population':15944990.0,
              '85 Years and Over Population':6592716.0,
                'Total Population': 327533774.0
              
             }
#append row to the dataframe
merged_pop = merged_pop.append(new_row_pop, ignore_index=True)

In [63]:
new_dfff = pd.merge(age_sex_df, merged_pop, on='State')

In [64]:
new_dfff = new_dfff[['State', 'Male COVID-19 Deaths', 'Female COVID-19 Deaths', 'All Sexes COVID-19 Deaths',
                     'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
#new_dfff.head()

In [65]:
#new_dfff.to_csv("../data-file/total-pop-death-data.csv", index=False, header=True)

In [66]:
base_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_002E,B01001_026E&for=state:*"
response = requests.get(base_url)


response = requests.get(base_url)
census_data = response.json()

In [67]:
df = pd.DataFrame(census_data[1:], columns=census_data[0])
df = df.sort_values(by=['state'])

In [68]:
df = df.rename(columns={"B01001_002E":'Male Population', 'B01001_026E':'Female Population'})

In [69]:
df["Male Population"] = pd.to_numeric(df["Male Population"], downcast="float")
df["Female Population"] = pd.to_numeric(df["Female Population"], downcast="float")

In [70]:
new_row = {'NAME':'United States', 'Male Population':163104960.0, 
              'Female Population':168328240.0
             }
#append row to the dataframe
df = df.append(new_row, ignore_index=True)

In [71]:
df = df.drop(columns=['state'])

In [72]:
df = df.drop([8, 51])

In [73]:
df = df.reset_index(drop=True)

In [74]:
for index, row in df.iterrows():
    state = row[0]
    df.loc[index,"NAME"] = us_state_abbrev[state]

In [75]:
df = df.rename(columns={'NAME': 'State'})

In [76]:
pop_merged = pd.merge(df, new_dfff, on = 'State')

In [77]:
pop_merged = pop_merged[['State', 'Male COVID-19 Deaths', 'Male Population', 'Female COVID-19 Deaths', 'Female Population',
                     'All Sexes COVID-19 Deaths', 'Under 5 Years COVID-19 Deaths', 'Under 5 Years Population',
                    '5-14 Years COVID-19 Deaths', '5-14 Years Population',
                    '15-24 Years COVID-19 Deaths', '15-24 Years Population',
                     '25-34 Years COVID-19 Deaths', '25-34 Years Population',
                     '35-44 Years COVID-19 Deaths', '35-44 Years Population',
                     '45-54 Years COVID-19 Deaths', '45-54 Years Population',
                     '55-64 Years COVID-19 Deaths', '55-64 Years Population',
                     '65-74 Years COVID-19 Deaths', '65-74 Years Population',
                     '75-84 Years COVID-19 Deaths', '75-84 Years Population',
                     '85 Years and Over COVID-19 Deaths', '85 Years and Over Population',
                     'All Ages COVID-19 Deaths', 'Total Population'
                    ]]
#pop_merged.head()

In [78]:
race_url = "https://data.cdc.gov/resource/pj7m-y5uh.json"
response = requests.get(race_url)
race_data = response.json()

In [79]:
client = Socrata("data.cdc.gov", None)

race_results = client.get("pj7m-y5uh", limit=6000)

race_df = pd.DataFrame.from_records(race_results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [80]:
race_df = race_df.loc[race_df['group']=="By Total"]
race_df = race_df.loc[race_df['indicator']=="Count of COVID-19 deaths"]

In [81]:
race_df = race_df.drop(columns=['data_as_of', 'start_week', 'end_week', 'year', 'group', 'indicator', 'month', 'footnote'])

In [82]:
race_df = race_df.rename(columns={'state':'State', 'non_hispanic_white': "White Deaths",
                                  'non_hispanic_black_african_american':'Black/African American Deaths',
                                 'non_hispanic_american_indian_alaska_native':'American Indian/Alaska Native Deaths',
                                  'non_hispanic_asian_pacific_islander':'Asian Pacific Islander Deaths',
                                  'nh_nhopi':'Native Hawaiian/Other Pacific Islander Deaths',
                                  'non_hispanic_more_than_one_race':'More than one Race Deaths',
                                  'hispanic_latino_total':'Hispanic/Latino Deaths'
                                 })
#race_df.head()

In [83]:
race_df = race_df.reset_index(drop=True)

In [84]:
for index, row in race_df.iterrows():
    state = row[0]
    race_df.loc[index,"State"] = us_state_abbrev[state]

In [85]:
race_df = race_df.fillna(0)

In [86]:
#race_df.head()

In [87]:
race_pop_url = "https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001A_001E,B01001B_001E,B01001C_001E,B01001D_001E,B01001E_001E,B01001G_002E,B01001I_001E&for=state:*"
response = requests.get(race_pop_url)


race_pop_response = requests.get(race_pop_url)
race_pop_data = race_pop_response.json()

In [88]:
race_pop_df = pd.DataFrame(race_pop_data[1:], columns=race_pop_data[0])
race_pop_df = race_pop_df.sort_values(by=['state'])

In [89]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [90]:
race_pop_df = race_pop_df.rename(columns={'NAME':'State','B01001A_001E':'White Population',
                                          'B01001B_001E':'Black/African American Population',
                                          'B01001C_001E':'American Indian/Alaska Native Population',
                                          'B01001D_001E':'Asian Population',
                                          'B01001E_001E':'Native Hawaiian/Other Pacific Islander Population',
                                          'B01001G_002E':'More than one Race Population',
                                          'B01001I_001E':'Hispanic/Latino Population'
                                         })
#race_pop_df.head()

In [91]:
race_pop_df = race_pop_df.fillna(0)

In [92]:
race_pop_df["White Population"] = pd.to_numeric(race_pop_df["White Population"], downcast="float")
race_pop_df["Black/African American Population"] = pd.to_numeric(race_pop_df["Black/African American Population"], downcast="float")
race_pop_df["American Indian/Alaska Native Population"] = pd.to_numeric(race_pop_df["American Indian/Alaska Native Population"], downcast="float")
race_pop_df["Asian Population"] = pd.to_numeric(race_pop_df["Asian Population"], downcast="float")
race_pop_df["Native Hawaiian/Other Pacific Islander Population"] = pd.to_numeric(race_pop_df["Native Hawaiian/Other Pacific Islander Population"], downcast="float")
race_pop_df["More than one Race Population"] = pd.to_numeric(race_pop_df["More than one Race Population"], downcast="float")
race_pop_df["Hispanic/Latino Population"] = pd.to_numeric(race_pop_df["Hispanic/Latino Population"], downcast="float")

In [93]:
new_row_race = {'State':'United States', 'White Population':238530160.0, 
              'Black/African American Population':42357500.0,
               'American Indian/Alaska Native Population':2815045.0,
               'Asian Population':18632352.0,
               'Native Hawaiian/Other Pacific Islander Population':496290.0,
               'More than one Race Population':5752848.0,
               'Hispanic/Latino Population':63616508.0
             }
#append row to the dataframe
race_pop_df = race_pop_df.append(new_row_race, ignore_index=True)

In [94]:
race_pop_df = race_pop_df.drop(columns=['state'])

In [95]:
race_pop_df = race_pop_df.drop([8, 51])

In [96]:
race_pop_df = race_pop_df.reset_index(drop=True)

In [97]:
for index, row in race_pop_df.iterrows():
    state = row[0]
    race_pop_df.loc[index,"State"] = us_state_abbrev[state]

In [238]:
race_pop_df.head()

,State,White Population,Black/African American Population,American Indian/Alaska Native Population,Asian Population,Native Hawaiian/Other Pacific Islander Population,More than one Race Population,Hispanic/Latino Population
0,AL,3326375.0,1319551.0,23265.0,66129.0,0.0,42835.0,219296.0
1,AK,469771.0,22551.0,115544.0,43678.0,0.0,28459.0,52548.0
2,AZ,5701810.0,343729.0,332273.0,241721.0,14168.0,146550.0,2310592.0
3,AR,2315020.0,467468.0,17216.0,46078.0,12829.0,42358.0,231951.0
4,CA,23484958.0,2282144.0,321112.0,5865435.0,155871.0,999761.0,15574882.0

In [99]:
race_merge = pd.merge(race_df, race_pop_df, on ='State')

In [239]:
race_merge = race_merge[['State', 
                         'White Deaths', 'White Population', 
                         'Black/African American Deaths', 'Black/African American Population',
                         'American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Asian Pacific Islander Deaths', 'Asian Population',
                         'Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'More than one Race Deaths', 'More than one Race Population',
                         'Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
race_merge.head()

,State,White Deaths,White Population,Black/African American Deaths,Black/African American Population,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,USA,348558,238530160.0,85495,42357500.0,6482,2815045.0,22190,18632352.0,1044,496290.0,1864,5752848.0,106465,63616508.0
1,AL,7231,3326375.0,3130,1319551.0,17,23265.0,48,66129.0,0,0.0,0,42835.0,190,219296.0
2,AK,133,469771.0,0,22551.0,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
3,AZ,8084,5701810.0,507,343729.0,1605,332273.0,325,241721.0,36,14168.0,143,146550.0,4849,2310592.0
4,AR,4671,2315020.0,883,467468.0,39,17216.0,47,46078.0,58,12829.0,24,42358.0,235,231951.0

In [101]:
demographic_age = pd.merge(pop_merged, race_merge, how='left', on='State')
demographic_age.head()

,State,Male COVID-19 Deaths,Male Population,Female COVID-19 Deaths,Female Population,All Sexes COVID-19 Deaths,Under 5 Years COVID-19 Deaths,Under 5 Years Population,5-14 Years COVID-19 Deaths,5-14 Years Population,...,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,More than one Race Deaths,More than one Race Population,Hispanic/Latino Deaths,Hispanic/Latino Population
0,AL,5691,2369611.0,4944,2533574.0,10635,0,294357.0,0,608466.0,...,17,23265.0,48,66129.0,0,0.0,0,42835.0,190,219296.0
1,AK,197,380433.0,139,351112.0,336,0,51080.0,0,100662.0,...,114,115544.0,34,43678.0,20,0.0,10,28459.0,15,52548.0
2,AZ,9251,3620935.0,6453,3657782.0,15704,0,429788.0,0,930745.0,...,1605,332273.0,325,241721.0,36,14168.0,143,146550.0,4849,2310592.0
3,AR,3094,1474705.0,2863,1543099.0,5957,0,188464.0,0,393213.0,...,39,17216.0,47,46078.0,58,12829.0,24,42358.0,235,231951.0
4,CA,37841,19640794.0,26217,19871428.0,64058,0,2383716.0,0,5007987.0,...,297,321112.0,7994,5865435.0,350,155871.0,397,999761.0,30574,15574882.0

In [102]:
demographic_age.to_csv("../jennie-folder/demographic_age.csv", index=False, header=True)

In [254]:
demographic_df = pd.read_csv("../jennie-folder/CRDT Data - CRDT.csv")

In [255]:
demographic_df.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,20210307,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210307,AL,499819.0,160347.0,82790.0,NaN,2273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210307,AR,324818.0,207596.0,50842.0,NaN,2913.0,1070.0,3358.0,1804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
print(demographic_df.columns.tolist())

['Date', 'State', 'Cases_Total', 'Cases_White', 'Cases_Black', 'Cases_Latinx', 'Cases_Asian', 'Cases_AIAN', 'Cases_NHPI', 'Cases_Multiracial', 'Cases_Other', 'Cases_Unknown', 'Cases_Ethnicity_Hispanic', 'Cases_Ethnicity_NonHispanic', 'Cases_Ethnicity_Unknown', 'Deaths_Total', 'Deaths_White', 'Deaths_Black', 'Deaths_Latinx', 'Deaths_Asian', 'Deaths_AIAN', 'Deaths_NHPI', 'Deaths_Multiracial', 'Deaths_Other', 'Deaths_Unknown', 'Deaths_Ethnicity_Hispanic', 'Deaths_Ethnicity_NonHispanic', 'Deaths_Ethnicity_Unknown', 'Hosp_Total', 'Hosp_White', 'Hosp_Black', 'Hosp_Latinx', 'Hosp_Asian', 'Hosp_AIAN', 'Hosp_NHPI', 'Hosp_Multiracial', 'Hosp_Other', 'Hosp_Unknown', 'Hosp_Ethnicity_Hispanic', 'Hosp_Ethnicity_NonHispanic', 'Hosp_Ethnicity_Unknown', 'Tests_Total', 'Tests_White', 'Tests_Black', 'Tests_Latinx', 'Tests_Asian', 'Tests_AIAN', 'Tests_NHPI', 'Tests_Multiracial', 'Tests_Other', 'Tests_Unknown', 'Tests_Ethnicity_Hispanic', 'Tests_Ethnicity_NonHispanic', 'Tests_Ethnicity_Unknown']

In [257]:
demographic_df = demographic_df.groupby('State').sum()
demographic_df = demographic_df[["Cases_Total", "Cases_White", "Cases_Black","Cases_Latinx", "Cases_Asian", "Cases_AIAN", "Cases_NHPI", "Cases_Multiracial", "Cases_Ethnicity_Hispanic"]]
demographic_df

,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,Cases_Ethnicity_Hispanic
State,,,,,,,,,
AK,1855334.0,574849.0,56782.0,0.0,73005.0,373509.0,54235.0,127827.0,106683.0
AL,17861341.0,5601494.0,3373720.0,0.0,70420.0,0.0,0.0,0.0,651897.0
AR,10837342.0,6652666.0,1890196.0,0.0,105929.0,31859.0,195756.0,61984.0,1452815.0
AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AZ,27502303.0,8458144.0,815793.0,7948222.0,332233.0,1458070.0,0.0,0.0,7947570.0
CA,109298533.0,15360536.0,3408823.0,45115829.0,5045971.0,241503.0,448957.0,1022184.0,45105227.0
CO,14207740.0,5434639.0,442188.0,4240763.0,215912.0,78689.0,43628.0,195066.0,4248220.0
CT,9624669.0,3014522.0,863290.0,1609229.0,113144.0,12023.0,0.0,308684.0,1604219.0
DC,1737077.0,401729.0,836556.0,0.0,31478.0,3842.0,4157.0,3825.0,405117.0
DE,2932592.0,1258285.0,695688.0,570469.0,52169.0,0.0,0.0,719.0,570469.0
FL,72044096.0,21564304.0,9386069.0,21531030.0,0.0,0.0,0.0,0.0,21567451.0
GA,32518378.0,10976669.0,8186713.0,3682675.0,581186.0,18951.0,29094.0,3.0,3682675.0
GU,319649.0,18832.0,396.0,0.0,92315.0,0.0,158851.0,0.0,0.0
HI,1092745.0,117085.0,17492.0,0.0,229830.0,0.0,293275.0,1661.0,0.0
IA,12742964.0,7967401.0,492909.0,0.0,255871.0,55972.0,52987.0,0.0,1074077.0
ID,6093736.0,3328506.0,51280.0,0.0,42423.0,75992.0,14347.0,25497.0,731075.0
IL,44714883.0,15127413.0,4719213.0,9331918.0,980630.0,55405.0,53881.0,0.0,9326048.0
IN,21958530.0,13860031.0,1658056.0,0.0,284693.0,0.0,0.0,0.0,1482527.0
KS,9667819.0,6646147.0,526419.0,0.0,197214.0,67353.0,0.0,0.0,1636708.0
KY,12111505.0,7631804.0,848828.0,0.0,115688.0,25192.0,10767.0,473921.0,608241.0
LA,17329797.0,7100095.0,5250133.0,0.0,719106.0,47787.0,17965.0,0.0,0.0
MA,20493878.0,6748789.0,1470878.0,4318723.0,484061.0,7794.0,2446.0,0.0,4318723.0
MD,14961655.0,4443774.0,4359728.0,2868193.0,307707.0,0.0,0.0,0.0,2868193.0
ME,1167408.0,879486.0,98418.0,0.0,16011.0,3324.0,553.0,7031.0,24744.0
MI,23588107.0,12649193.0,3335991.0,0.0,382012.0,120347.0,0.0,1107364.0,1337873.0
MN,17357723.0,10725377.0,1735075.0,1605893.0,785747.0,158780.0,20984.0,252936.0,1837067.0
MO,17293920.0,8257525.0,1797422.0,0.0,128871.0,28614.0,3192.0,67816.0,759222.0
MP,6849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MS,11005241.0,4629342.0,3894058.0,282933.0,44658.0,118553.0,0.0,0.0,282506.0
MT,3218224.0,1883082.0,19729.0,0.0,10024.0,302697.0,1266.0,0.0,74257.0
NC,27575285.0,13422999.0,4727544.0,0.0,416843.0,349057.0,13115.0,0.0,4764432.0
ND,3765341.0,1977530.0,118331.0,0.0,50350.0,158454.0,0.0,46888.0,0.0
NE,7345030.0,3880887.0,231704.0,0.0,142971.0,51533.0,8855.0,0.0,1163802.0
NH,2008630.0,1044437.0,42607.0,138412.0,32517.0,1801.0,106.0,8347.0,137677.0
NJ,28590492.0,7910367.0,2631985.0,5539668.0,958008.0,0.0,0.0,0.0,5539668.0
NM,6026888.0,915217.0,79711.0,2545155.0,48468.0,1199852.0,1402.0,0.0,2544330.0
NV,10419255.0,3073242.0,694416.0,3353873.0,691940.0,45931.0,0.0,0.0,3353873.0
NY,59840708.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OH,29725228.0,17019877.0,3773309.0,0.0,486930.0,33923.0,26787.0,768062.0,1128303.0
OK,13192575.0,7520197.0,768517.0,0.0,296033.0,1274897.0,0.0,0.0,1557734.0
OR,5088692.0,2320629.0,162012.0,0.0,155855.0,99466.0,58707.0,87121.0,1524326.0
PA,29018402.0,13157951.0,2846125.0,0.0,492701.0,0.0,0.0,0.0,1930168.0
PR,4005417.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RI,4248908.0,1613146.0,299172.0,1191656.0,59064.0,8218.0,0.0,35675.0,1191656.0
SC,16811587.0,7153989.0,3780225.0,731.0,158259.0,0.0,0.0,0.0,1111875.0
SD,4121842.0,2791142.0,132890.0,185999.0,81578.0,503183.0,0.0,0.0,185999.0
TN,26542662.0,15280682.0,3786519.0,0.0,231751.0,32944.0,18162.0,0.0,2293217.0
TX,88458685.0,1303406.0,678017.0,1673402.0,68762.0,0.0,0.0,0.0,1671669.0
UT,12248318.0,7146455.0,205629.0,3015093.0,245222.0,182604.0,345651.0,0.0,3015093.0
VA,18897177.0,6711997.0,3243142.0,3317413.0,586774.0,22913.0,0.0,171179.0,3466213.0
VI,107104.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VT,388306.0,312068.0,21165.0,0.0,17015.0,455.0,0.0,0.0,9243.0
WA,11893645.0,3220784.0,406500.0,2591371.0,420573.0,111636.0,152401.0,197164.0,2587333.0
WI,22056459.0,16428382.0,1637432.0,0.0,523499.0,267912.0,0.0,0.0,2658531.0
WV,3599036.0,2387727.0,112381.0,0.0,0.0,19.0,9.0,1357.0,0.0
WY,1714175.0,874394.0,14527.0,141038.0,8847.0,86439.0,4487.0,0.0,140991.0

In [258]:
death_rate_eth = pd.merge(race_merge, demographic_df, on='State')

In [259]:
death_rate_eth.head(3)

,State,White Deaths,White Population,Black/African American Deaths,Black/African American Population,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,Asian Pacific Islander Deaths,Asian Population,Native Hawaiian/Other Pacific Islander Deaths,...,Hispanic/Latino Population,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,Cases_Ethnicity_Hispanic
0,AL,7231,3326375.0,3130,1319551.0,17,23265.0,48,66129.0,0,...,219296.0,17861341.0,5601494.0,3373720.0,0.0,70420.0,0.0,0.0,0.0,651897.0
1,AK,133,469771.0,0,22551.0,114,115544.0,34,43678.0,20,...,52548.0,1855334.0,574849.0,56782.0,0.0,73005.0,373509.0,54235.0,127827.0,106683.0
2,AZ,8084,5701810.0,507,343729.0,1605,332273.0,325,241721.0,36,...,2310592.0,27502303.0,8458144.0,815793.0,7948222.0,332233.0,1458070.0,0.0,0.0,7947570.0

In [260]:
death_rate_eth = death_rate_eth[['State',
                         'Cases_White','White Deaths', 'White Population', 
                         'Cases_Black', 'Black/African American Deaths', 'Black/African American Population',
                         'Cases_AIAN','American Indian/Alaska Native Deaths', 'American Indian/Alaska Native Population', 
                         'Cases_Asian','Asian Pacific Islander Deaths', 'Asian Population',
                         'Cases_NHPI','Native Hawaiian/Other Pacific Islander Deaths', 'Native Hawaiian/Other Pacific Islander Population',
                         'Cases_Multiracial', 'More than one Race Deaths', 'More than one Race Population',
                         'Cases_Ethnicity_Hispanic','Hispanic/Latino Deaths', 'Hispanic/Latino Population'
                    ]]
death_rate_eth.head()

,State,Cases_White,White Deaths,White Population,Cases_Black,Black/African American Deaths,Black/African American Population,Cases_AIAN,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,...,Asian Population,Cases_NHPI,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,Cases_Multiracial,More than one Race Deaths,More than one Race Population,Cases_Ethnicity_Hispanic,Hispanic/Latino Deaths,Hispanic/Latino Population
0,AL,5601494.0,7231,3326375.0,3373720.0,3130,1319551.0,0.0,17,23265.0,...,66129.0,0.0,0,0.0,0.0,0,42835.0,651897.0,190,219296.0
1,AK,574849.0,133,469771.0,56782.0,0,22551.0,373509.0,114,115544.0,...,43678.0,54235.0,20,0.0,127827.0,10,28459.0,106683.0,15,52548.0
2,AZ,8458144.0,8084,5701810.0,815793.0,507,343729.0,1458070.0,1605,332273.0,...,241721.0,0.0,36,14168.0,0.0,143,146550.0,7947570.0,4849,2310592.0
3,AR,6652666.0,4671,2315020.0,1890196.0,883,467468.0,31859.0,39,17216.0,...,46078.0,195756.0,58,12829.0,61984.0,24,42358.0,1452815.0,235,231951.0
4,CA,15360536.0,20339,23484958.0,3408823.0,3988,2282144.0,241503.0,297,321112.0,...,5865435.0,448957.0,350,155871.0,1022184.0,397,999761.0,45105227.0,30574,15574882.0

In [265]:
death_rate_eth["White Deaths"] = pd.to_numeric(death_rate_eth["White Deaths"], downcast="float")
death_rate_eth["Black/African American Deaths"] = pd.to_numeric(death_rate_eth["Black/African American Deaths"], downcast="float")

In [266]:
white_dr = death_rate_eth['White Deaths']/death_rate_eth['Cases_White']*100
death_rate_eth['White Fatality Rate'] = white_dr

black_dr = death_rate_eth['Black/African American Deaths']/death_rate_eth['Cases_Black']*100
death_rate_eth['Black Fatality Rate'] = black_dr

In [267]:
death_rate_eth

,State,Cases_White,White Deaths,White Population,Cases_Black,Black/African American Deaths,Black/African American Population,Cases_AIAN,American Indian/Alaska Native Deaths,American Indian/Alaska Native Population,...,Native Hawaiian/Other Pacific Islander Deaths,Native Hawaiian/Other Pacific Islander Population,Cases_Multiracial,More than one Race Deaths,More than one Race Population,Cases_Ethnicity_Hispanic,Hispanic/Latino Deaths,Hispanic/Latino Population,White Fatality Rate,Black Fatality Rate
0,AL,5601494.0,7231.0,3326375.0,3373720.0,3130.0,1319551.0,0.0,17,23265.0,...,0,0.0,0.0,0,42835.0,651897.0,190,219296.0,0.129091,0.092776
1,AK,574849.0,133.0,469771.0,56782.0,0.0,22551.0,373509.0,114,115544.0,...,20,0.0,127827.0,10,28459.0,106683.0,15,52548.0,0.023137,0.000000
2,AZ,8458144.0,8084.0,5701810.0,815793.0,507.0,343729.0,1458070.0,1605,332273.0,...,36,14168.0,0.0,143,146550.0,7947570.0,4849,2310592.0,0.095577,0.062148
3,AR,6652666.0,4671.0,2315020.0,1890196.0,883.0,467468.0,31859.0,39,17216.0,...,58,12829.0,61984.0,24,42358.0,1452815.0,235,231951.0,0.070212,0.046715
4,CA,15360536.0,20339.0,23484958.0,3408823.0,3988.0,2282144.0,241503.0,297,321112.0,...,350,155871.0,1022184.0,397,999761.0,45105227.0,30574,15574882.0,0.132411,0.116991
5,CO,5434639.0,4284.0,4822379.0,442188.0,303.0,240538.0,78689.0,85,57578.0,...,20,0.0,195066.0,26,113075.0,4248220.0,1635,1256903.0,0.078828,0.068523
6,CT,3014522.0,6028.0,2660228.0,863290.0,1031.0,396745.0,12023.0,0,9052.0,...,0,0.0,308684.0,0,67170.0,1604219.0,850,600954.0,0.199965,0.119427
7,DE,1258285.0,1076.0,659719.0,695688.0,319.0,219418.0,0.0,0,0.0,...,0,0.0,719.0,0,15887.0,570469.0,61,93390.0,0.085513,0.045854
8,FL,21564304.0,18665.0,16010079.0,9386069.0,5662.0,3441062.0,0.0,47,59558.0,...,11,16162.0,0.0,107,303954.0,21567451.0,8463,5663629.0,0.086555,0.060323
9,GA,10976669.0,10013.0,6131699.0,8186713.0,5960.0,3390968.0,18951.0,13,42316.0,...,0,0.0,3.0,19,146145.0,3682675.0,959,1042642.0,0.091221,0.072801
10,HI,117085.0,39.0,341211.0,17492.0,0.0,26923.0,0.0,0,0.0,...,108,152601.0,1661.0,52,159773.0,0.0,32,150864.0,0.033309,0.000000
11,ID,3328506.0,1777.0,1596918.0,51280.0,0.0,0.0,75992.0,36,22867.0,...,0,0.0,25497.0,0,29208.0,731075.0,212,229494.0,0.053387,0.000000
12,IL,15127413.0,13394.0,9044059.0,4719213.0,3769.0,1790212.0,55405.0,17,32600.0,...,0,0.0,0.0,48,176702.0,9326048.0,3532,2216300.0,0.088541,0.079865
13,IN,13860031.0,10993.0,5571899.0,1658056.0,1323.0,643105.0,0.0,16,18416.0,...,11,0.0,0.0,12,87139.0,1482527.0,508,485554.0,0.079314,0.079792
14,IA,7967401.0,5544.0,2835536.0,492909.0,167.0,129335.0,55972.0,46,11837.0,...,12,0.0,0.0,10,33426.0,1074077.0,175,197482.0,0.069584,0.033880
15,KS,6646147.0,4013.0,2436902.0,526419.0,292.0,167237.0,67353.0,56,23860.0,...,0,0.0,0.0,52,54224.0,1636708.0,402,354804.0,0.060381,0.055469
16,KY,7631804.0,6482.0,3873691.0,848828.0,641.0,363167.0,25192.0,0,0.0,...,0,0.0,473921.0,0,51321.0,608241.0,119,168017.0,0.084934,0.075516
17,LA,7100095.0,5382.0,2874784.0,5250133.0,3673.0,1504017.0,47787.0,33,28561.0,...,0,0.0,0.0,0,46099.0,0.0,257,250203.0,0.075802,0.069960
18,ME,879486.0,876.0,1263287.0,98418.0,12.0,21983.0,3324.0,0,9419.0,...,0,0.0,7031.0,0,13310.0,24744.0,0,23067.0,0.099604,0.012193
19,MD,4443774.0,5106.0,3296909.0,4359728.0,3643.0,1830059.0,0.0,13,19164.0,...,0,0.0,0.0,19,100355.0,2868193.0,894,643171.0,0.114902,0.083560
20,MA,6748789.0,10616.0,5305385.0,1470878.0,1031.0,543629.0,7794.0,12,17875.0,...,0,0.0,0.0,45,123201.0,4318723.0,1077,853735.0,0.157302,0.070094
21,MI,12649193.0,12243.0,7812165.0,3335991.0,3818.0,1371069.0,120347.0,69,57785.0,...,0,0.0,1107364.0,50,151291.0,1337873.0,621,525973.0,0.096789,0.114449
22,MN,10725377.0,6457.0,4627588.0,1735075.0,378.0,370291.0,158780.0,101,57414.0,...,0,0.0,252936.0,20,92817.0,1837067.0,218,314217.0,0.060203,0.021786
23,MS,4629342.0,4160.0,1726970.0,3894058.0,3037.0,1130608.0,118553.0,117,14634.0,...,0,0.0,0.0,0,19687.0,282506.0,68,90143.0,0.089862,0.077991
24,MO,8257525.0,9030.0,5022939.0,1797422.0,1360.0,703058.0,28614.0,42,25516.0,...,14,0.0,67816.0,38,86480.0,759222.0,236,264334.0,0.109355,0.075664
25,MT,1883082.0,1254.0,940423.0,19729.0,11.0,0.0,302697.0,288,67603.0,...,0,0.0,0.0,0,17335.0,74257.0,40,40328.0,0.066593,0.055755
26,NE,3880887.0,2493.0,1666763.0,231704.0,104.0,94659.0,51533.0,20,18964.0,...,0,0.0,0.0,0,27310.0,1163802.0,217,219472.0,0.064238,0.044885
27,NV,3073242.0,2866.0,1989116.0,694416.0,551.0,296184.0,45931.0,66,42426.0,...,64,22587.0,0.0,37,70550.0,3353873.0,1431,900599.0,0.093257,0.079347
28,NH,1044437.0,1248.0,1258576.0,42607.0,12.0,22000.0,1801.0,0,0.0,...,0,0.0,8347.0,0,15785.0,137677.0,33,54182.0,0.119490,0.028164
29,NJ,7910367.0,13640.0,5964295.0,2631985.0,3983.0,1203843.0,0.0,18,18440.0,...,0,0.0,0.0,92,127376.0,5539668.0,4937,1856845.0,0.172432,0.151331
30,NM,915217.0,1114.0,1549953.0,79711.0,50.0,48337.0,1199852.0,1249,199341.0,...,0,0.0,0.0,0,35907.0,2544330.0,1576,1032950.0,0.121720,0.062727
31,NY,0.0,17972.0,12293680.0,0.0,3013.0,3084304.0,0.0,58,73560.0,...,0,0.0,0.0,48,318654.0,0.0,2854,3749257.0,inf,inf
32,NC,13422999.0,7284.0,7144510.0,4727544.0,2791.0,2253481.0,349057.0,131,126708.0,...,0,0.0,0.0,0,140080.0,4764432.0,561,1022995.0,0.054265,0.059037
33,ND,1977530.0,1503.0,653910.0,118331.0,12.0,22256.0,158454.0,146,40970.0,...,0,0.0,46888.0,0,14127.0,0.0,30,30486.0,0.076004,0.010141
34,OH,17019877.0,18720.0,9452650.0,3773309.0,2752.0,1467331.0,33923.0,14,23544.0,...,0,0.0,768062.0,24,171689.0,1128303.0,389,467589.0,0.109989,0.072933
35,OK,7520197.0,6111.0,2865785.0,768517.0,573.0,287414.0,1274897.0,861,316929.0,...,23,0.0,0.0,188,150838.0,1557734.0,522,438106.0,0.081261,0.074559
36,OR,2320629.0,1947.0,3523853.0,162012.0,50.0,77918.0,99466.0,52,50417.0,...,19,14182.0,87121.0,13,104631.0,1524326.0,273,566839.0,0.083900,0.030862
37,PA,13157951.0,22354.0,10193792.0,2846125.0,3417.0,1454753.0,0.0,0,27088.0,...,0,0.0,0.0,36,164682.0,1930168.0,1145,997830.0,0.169890,0.120058
38,RI,1613146.0,2230.0,833690.0,299172.0,118.0,78143.0,8218.0,0,0.0,...,0,0.0,35675.0,0,23734.0,1191656.0,215,172643.0,0.138239,0.039442
39,SC,7153989.0,5718.0,3434467.0,3780225.0,2946.0,1362917.0,0.0,24,18971.0,...,0,0.0,0.0,0,59490.0,1111875.0,211,298478.0,0.079927,0.077932
40,SD,2791142.0,1752.0,743764.0,132890.0,0.0,20866.0,503183.0,238,75809.0,...,0,0.0,0.0,0,13363.0,185999.0,25,33018.0,0.062770,0.000000
41,TN,15280682.0,10012.0,5272910.0,3786519.0,2276.0,1141304.0,32944.0,11,20431.0,...,0,0.0,0.0,16,78288.0,2293217.0,347,389127.0,0.065521,0.060108
42,TX,1303406.0,22553.0,21273326.0,678017.0,5587.0,3553922.0,0.0,95,144993.0,...,31,27026.0,0.0,65,418754.0,1671669.0,24448,11524842.0,1.730313,0.824021
43,UT,7146455.0,1776.0,2799527.0,205629.0,19.0,36918.0,182604.0,93,35368.0,...,76,30725.0,0.0,15,55050.0,3015093.0,377,462054.0,0.024851,0.009240
44,VT,312068.0,229.0,585117.0,21165.0,0.0,9435.0,455.0,0,0.0,...,0,0.0,0.0,0,7307.0,9243.0,0,12408.0,0.073381,0.000000
45,VA,6711997.0,6843.0,5714646.0,3243142.0,2683.0,1659908.0,22913.0,12,23388.0,...,0,0.0,171179.0,36,165351.0,3466213.0,722,828154.0,0.101952,0.082728
46,WA,3220784.0,3800.0,5651091.0,406500.0,183.0,305924.0,111636.0,140,103882.0,...,97,50139.0,197164.0,61,232340.0,2587333.0,633,991723.0,0.117984,0.045018
47,WV,2387727.0,2607.0,1668004.0,112381.0,87.0,65925.0,19.0,0,0.0,...,0,0.0,1357.0,0,15966.0,0.0,0,26823.0,0.109183,0.077415
48,WI,16428382.0,6946.0,4963354.0,1637432.0,525.0,374747.0,267912.0,97,54577.0,...,0,0.0,0.0,11,66547.0,2658531.0,403,412769.0,0.042280,0.032062
49,WY,874394.0,522.0,525860.0,14527.0,0.0,0.0,86439.0,47,13774.0,...,0,0.0,0.0,0,8257.0,140991.0,55,58607.0,0.059698,0.000000

In [195]:
aged_df = demographic_age[["State", "65-74 Years Population", "65-74 Years COVID-19 Deaths", "75-84 Years Population","75-84 Years COVID-19 Deaths", "85 Years and Over Population", "85 Years and Over COVID-19 Deaths"]]
aged_df.head()

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths
0,AL,501447.0,2761,256847.0,3059,91543.0,2440
1,AK,61300.0,86,23107.0,98,7181.0,78
2,AZ,751699.0,3751,411197.0,4478,145737.0,3536
3,AR,302829.0,1341,161141.0,1758,59912.0,1739
4,CA,3386670.0,14564,1701599.0,15725,749846.0,16531

In [196]:
aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

<ipython-input-196-2b0fc69b8258>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["65-74 Years COVID-19 Deaths"] = aged_df["65-74 Years COVID-19 Deaths"].astype(float)
<ipython-input-196-2b0fc69b8258>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["75-84 Years COVID-19 Deaths"] = aged_df["75-84 Years COVID-19 Deaths"].astype(float)
<ipython-input-196-2b0fc69b8258>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df["85 Years and Over COVID-19 Deaths"] = aged_df["85 Years and Over COVID-19 Deaths"].astype(float)

In [197]:
aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']
aged_df.head()

<ipython-input-197-ba8fd7fc5e01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over Population'] = aged_df['65-74 Years Population'] + aged_df['75-84 Years Population'] + aged_df['85 Years and Over Population']

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,65 Years and Over Population
0,AL,501447.0,2761.0,256847.0,3059.0,91543.0,2440.0,849837.0
1,AK,61300.0,86.0,23107.0,98.0,7181.0,78.0,91588.0
2,AZ,751699.0,3751.0,411197.0,4478.0,145737.0,3536.0,1308633.0
3,AR,302829.0,1341.0,161141.0,1758.0,59912.0,1739.0,523882.0
4,CA,3386670.0,14564.0,1701599.0,15725.0,749846.0,16531.0,5838115.0

In [198]:
aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']
aged_df.head()

<ipython-input-198-cae404275036>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aged_df['65 Years and Over COVID Deaths'] = aged_df['65-74 Years COVID-19 Deaths'] + aged_df['75-84 Years COVID-19 Deaths'] + aged_df['85 Years and Over COVID-19 Deaths']

,State,65-74 Years Population,65-74 Years COVID-19 Deaths,75-84 Years Population,75-84 Years COVID-19 Deaths,85 Years and Over Population,85 Years and Over COVID-19 Deaths,65 Years and Over Population,65 Years and Over COVID Deaths
0,AL,501447.0,2761.0,256847.0,3059.0,91543.0,2440.0,849837.0,8260.0
1,AK,61300.0,86.0,23107.0,98.0,7181.0,78.0,91588.0,262.0
2,AZ,751699.0,3751.0,411197.0,4478.0,145737.0,3536.0,1308633.0,11765.0
3,AR,302829.0,1341.0,161141.0,1758.0,59912.0,1739.0,523882.0,4838.0
4,CA,3386670.0,14564.0,1701599.0,15725.0,749846.0,16531.0,5838115.0,46820.0

In [205]:
population_over = (aged_df['65 Years and Over Population']/53970920.0)*10
aged_df["Population % for 65 Years and Over"] = population_over

In [206]:
deaths_data = (aged_df['65 Years and Over COVID Deaths']/aged_df['65 Years and Over Population'] * 100)
aged_df["65 Years and Over Crude Mortality Rate"] = deaths_data

In [207]:
aged_df = aged_df[["State", "65 Years and Over Population","Population % for 65 Years and Over", "65 Years and Over COVID Deaths", "65 Years and Over Crude Mortality Rate" ]]
aged_df

,State,65 Years and Over Population,Population % for 65 Years and Over,65 Years and Over COVID Deaths,65 Years and Over Crude Mortality Rate
0,AL,849837.0,0.157462,8260.0,0.971951
1,AK,91588.0,0.016970,262.0,0.286064
2,AZ,1308633.0,0.242470,11765.0,0.899030
3,AR,523882.0,0.097067,4838.0,0.923490
4,CA,5838115.0,1.081715,46820.0,0.801971
5,CO,842412.0,0.156086,5482.0,0.650750
6,CT,630244.0,0.116775,7015.0,1.113061
7,DE,188906.0,0.035001,1230.0,0.651117
8,FL,4497337.0,0.833289,27296.0,0.606937
9,GA,1516954.0,0.281069,13275.0,0.875109
10,HI,268448.0,0.049739,340.0,0.126654
11,ID,290670.0,0.053857,1799.0,0.618915
12,IL,2043232.0,0.378580,17562.0,0.859521
13,IN,1085743.0,0.201172,11098.0,1.022157
14,IA,552954.0,0.102454,5274.0,0.953786
15,KS,475487.0,0.088101,4152.0,0.873210
16,KY,750564.0,0.139068,6140.0,0.818051
17,LA,741022.0,0.137300,7321.0,0.987960
18,ME,285265.0,0.052855,813.0,0.284998
19,MD,959396.0,0.177762,7998.0,0.833650
20,MA,1169332.0,0.216660,11842.0,1.012715
21,MI,1765401.0,0.327102,13870.0,0.785657
22,MN,920382.0,0.170533,6611.0,0.718289
23,MS,486693.0,0.090177,5707.0,1.172608
24,MO,1062037.0,0.196779,9224.0,0.868520
25,MT,206437.0,0.038250,1343.0,0.650562
26,NE,312458.0,0.057894,2413.0,0.772264
27,NV,495972.0,0.091896,4195.0,0.845814
28,NH,253864.0,0.047037,1225.0,0.482542
29,NJ,1475535.0,0.273394,19030.0,1.289702
30,NM,377606.0,0.069965,2854.0,0.755814
31,NY,3296146.0,0.610726,20768.0,0.630069
32,NC,1751094.0,0.324451,8997.0,0.513793
33,ND,119845.0,0.022205,1481.0,1.235763
34,OH,2046320.0,0.379152,19178.0,0.937195
35,OK,635132.0,0.117680,6718.0,1.057733
36,OR,766080.0,0.141943,2038.0,0.266030
37,PA,2393362.0,0.443454,23908.0,0.998930
38,RI,187046.0,0.034657,2351.0,1.256910
39,SC,937023.0,0.173616,7227.0,0.771272
40,SD,151871.0,0.028139,1745.0,1.149001
41,TN,1143393.0,0.211854,10133.0,0.886222
42,TX,3734229.0,0.691896,39057.0,1.045919
43,UT,365872.0,0.067791,1884.0,0.514934
44,VT,125039.0,0.023168,211.0,0.168747
45,VA,1358906.0,0.251785,8903.0,0.655159
46,WA,1209723.0,0.224143,4426.0,0.365869
47,WV,367011.0,0.068002,2333.0,0.635676
48,WI,1017243.0,0.188480,7078.0,0.695802
49,WY,99179.0,0.018376,534.0,0.538420
50,USA,53970920.0,10.000000,458645.0,0.849800

In [212]:
aged_df.style.format({
    '65 Years and Over Population': '{:,.2f}'.format,
    'Population % for 65 Years and Over': '{:,.2f}%'.format,
    '65 Years and Over COVID Deaths': '{:,.2f}'.format,
    '65 Years and Over Crude Mortality Rate': '{:,.2f}%'.format
})