In [1]:
import requests
import json
import pandas as pd
import datetime as datetime
pd.set_option('display.max_rows', None)

In [157]:
base_url = "https://api.census.gov/data/timeseries/healthins/sahie"
variables = "?get=NIC_PT,NUI_PT,NAME&for=state:*&time=2018"
api_key = "&key=3e3cd2ae566b1b3e0c0b662375f629dbe01af3dd"
url = base_url + variables + api_key

In [158]:
# https://api.census.gov/data/timeseries/healthins/sahie/variables.html

In [159]:
# age_group_key = {0:"Total", 1: "Under 5 years", 2: "5-14 years", 3:"5-14 years", 4:"15-24 years", 5: "15-24 years", 
                 6:"25-34 years", 7: "25-34 years", 8:"35-44 years", 9: "35-44 years", 10: "45-54 years", 
                 11: "45-54 years", 12: "55-64 years", 13: "55-64 years", 14:"65-74 years", 15: "65-74 years",
                 16: "75-84 years", 17: "75-84 years", 18: "85 years and over"}

IndentationError: unexpected indent (<ipython-input-159-5181eb791810>, line 2)

In [160]:
response = requests.get(url)
census_data = response.json()

In [101]:
# https://api.census.gov/data/timeseries/healthins/sahie?get=NIC_PT,NUI_PT,NAME&for=us:*&time=2017&key=YOUR_KEY_GOES_HERE

In [145]:
df = pd.DataFrame(census_data[1:],columns=census_data[0])

In [180]:
df.iloc[:,1:2].astype(float)

       NUI_PT
0    470052.0
1     88519.0
2    737852.0
3    233441.0
4   2772644.0
5    419456.0
6    178690.0
7     51804.0
8     20753.0
9   2673659.0
10  1398968.0
11    53377.0
12   190472.0
13   853809.0
14   532695.0
15   142584.0
16   241000.0
17   241947.0
18   354948.0
19   106052.0
20   346367.0
21   182533.0
22   526541.0
23   238150.0
24   349341.0
25   562414.0
26    86396.0
27   149728.0
28   326024.0
29    76244.0
30   642184.0
31   194630.0
32  1007242.0
33  1076670.0
34    50455.0
35   729559.0
36   536856.0
37   285855.0
38   681152.0
39    40378.0
40   515001.0
41    80090.0
42   662260.0
43  4883741.0
44   288573.0
45    23522.0
46   705225.0
47   469557.0
48   109457.0
49   306773.0
50    58689.0

In [183]:
int(df.NUI_PT[0])

470052

In [191]:
df["PCT_UI"]=""
for index, row in df.iterrows():
    pct_ui = int(row[1])/(int(row[0])+int(row[0]))
    df.loc[index,"PCT_UI"] = 100*round(pct_ui,4)
    
df.sort_values(by="PCT_UI")

      NIC_PT   NUI_PT                  NAME  time state PCT_UI
21   5389682   182533         Massachusetts  2018    25   1.69
8     563502    20753  District of Columbia  2018    11   1.84
11   1077305    53377                Hawaii  2018    15   2.48
39    802382    40378          Rhode Island  2018    44   2.52
45    460901    23522               Vermont  2018    50   2.55
23   4398603   238150             Minnesota  2018    27   2.71
15   2399036   142584                  Iowa  2018    19   2.97
6    2697161   178690           Connecticut  2018    09   3.31
32  14909637  1007242              New York  2018    36   3.38
22   7571815   526541              Michigan  2018    26   3.48
49   4404307   306773             Wisconsin  2018    55   3.48
17   3381093   241947              Kentucky  2018    21   3.58
38   9468138   681152          Pennsylvania  2018    42    3.6
7     712065    51804              Delaware  2018    10   3.64
20   4647719   346367              Maryland  2018    24   3.73
29   1002810    76244         New Hampshire  2018    33    3.8
47   5797529   469557            Washington  2018    53   4.05
35   8713855   729559                  Ohio  2018    39   4.19
48   1293881   109457         West Virginia  2018    54   4.23
34    576028    50455          North Dakota  2018    38   4.38
13   9661801   853809              Illinois  2018    17   4.42
4   30465099  2772644            California  2018    06   4.55
37   3102032   285855                Oregon  2018    41   4.61
30   6703436   642184            New Jersey  2018    34   4.79
5    4364229   419456              Colorado  2018    08   4.81
18   3466995   354948             Louisiana  2018    22   5.12
27   1434972   149728              Nebraska  2018    31   5.22
3    2195265   233441              Arkansas  2018    05   5.32
14   4942149   532695               Indiana  2018    18   5.39
16   2145672   241000                Kansas  2018    20   5.62
46   6276295   705225              Virginia  2018    51   5.62
26    757718    86396               Montana  2018    30    5.7
19    930499   106052                 Maine  2018    23    5.7
44   2482639   288573                  Utah  2018    49   5.81
41    633405    80090          South Dakota  2018    46   6.32
25   4387099   562414              Missouri  2018    29   6.41
31   1495692   194630            New Mexico  2018    35   6.51
0    3485065   470052               Alabama  2018    01   6.74
42   4859793   662260             Tennessee  2018    47   6.81
50    413059    58689               Wyoming  2018    56    7.1
40   3539552   515001        South Carolina  2018    45   7.27
33   7373641  1076670        North Carolina  2018    37    7.3
2    5024974   737852               Arizona  2018    04   7.34
28   2193325   326024                Nevada  2018    32   7.43
12   1259588   190472                 Idaho  2018    16   7.56
1     547701    88519                Alaska  2018    02   8.08
24   2069798   349341           Mississippi  2018    28   8.44
10   7397367  1398968               Georgia  2018    13   9.46
9   13889600  2673659               Florida  2018    12   9.62
36   2691135   536856              Oklahoma  2018    40   9.97
43  19635342  4883741                 Texas  2018    48  12.44

In [310]:
# state_fips_codes = [1,2,4,5,6,8,9,10,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,
#                    42,44,45,46,47,48,49,50,51,53,54,55,56]
# for state_fips_code in state_fips_codes:
#     if state_fips_code < 10:
#         fips_string = f"0{state_fips_code}"
#     else:
#         fips_string = f"{state_fips_code}"

    
#     variables = f"?get=AGEGROUP,POP,NAME&for=state:{fips_string}&DATE_CODE=12"
#     url = base_url + variables + api_key
#     response = requests.get(url)
#     census_data = response.json()
#     # create dataframe from JSON response
#     df = pd.DataFrame(census_data[1:], columns=census_data[0])
#     # State
#     state = df.iloc[0,2]
#     # Add column for age groups and population with float format
#     df["CDC_AgeGroups"]=""
#     df["Population"]=""
#     for index, row in df.iterrows():
#         row[5] = age_group_key.get(float(row[0]),"Other")
#         row[6] = float(row[1])
        
#     # Groupby agegroups
#     df1 = df.groupby(by=("CDC_AgeGroups"))
#     sum = df1["Population"].sum()
#     df2 = pd.DataFrame({"Population":sum})
#     df2["State"] = state
    
#     print(f"{fips_string}: {state}")
    
#     df2.drop(index="Other", inplace=True)
#     if state_fips_code == 1:
#         df3 = pd.DataFrame()
#         df3 = df3.append(df2)
#     else:
#         df3 = df3.append(df2)

01: Alabama
02: Alaska
04: Arizona
05: Arkansas
06: California
08: Colorado
09: Connecticut
10: Delaware
12: Florida
13: Georgia
15: Hawaii
16: Idaho
17: Illinois
18: Indiana
19: Iowa
20: Kansas
21: Kentucky
22: Louisiana
23: Maine
24: Maryland
25: Massachusetts
26: Michigan
27: Minnesota
28: Mississippi
29: Missouri
30: Montana
31: Nebraska
32: Nevada
33: New Hampshire
34: New Jersey
35: New Mexico
36: New York
37: North Carolina
38: North Dakota
39: Ohio
40: Oklahoma
41: Oregon
42: Pennsylvania
44: Rhode Island
45: South Carolina
46: South Dakota
47: Tennessee
48: Texas
49: Utah
50: Vermont
51: Virginia
53: Washington
54: West Virginia
55: Wisconsin
56: Wyoming

In [339]:
%pwd

'C:\\Users\\jwr19\\Documents\\Project\\project_one\\Folder1'

In [341]:
# df3.to_csv("../Folder2/Population_byCDCAgeGroup_byState.csv")