In [36]:
import pandas as pd
import numpy as np

In [37]:
a = np.arange(0,100,2)

In [149]:
df = pd.read_csv("../Urban_Rural_Data.csv")

In [150]:
df.dropna(inplace=True)

In [151]:
df.rename(columns={"Label":"State","Total:":"Population_2010", "Total:!!Urban:": "Urban", 
                   "Total:!!Urban:!!Inside urbanized areas": "Urban_InUrbanAreas", 
                   "Total:!!Urban:!!Inside urban clusters": "Urban_InUrbanClusters",
                   "Total:!!Rural": "Total_Rural"}, inplace=True)
df.drop(columns=["Total:!!Not defined for this file"], inplace=True)

In [152]:
df.head()

,State,Population_2010,Urban,Urban_InUrbanAreas,Urban_InUrbanClusters,Total_Rural
1,Alabama,"2,171,853","1,267,224","1,040,659","226,565","904,629"
3,Alaska,"306,967","182,989","123,286","59,703","123,978"
5,Arizona,"2,844,526","2,515,504","2,242,637","272,867","329,022"
7,Arkansas,"1,316,299","720,584","506,573","214,011","595,715"
9,California,"13,680,081","12,814,688","12,051,891","762,797","865,393"

In [153]:
a = df.iloc[0,1].replace(",","")
int(rows[1].replace(",",""))/2

1085926.5

In [161]:
pop/urban

1.0700364229666022

In [168]:
df["Urban_Percent"]=""
for index,rows in df.iterrows():
    pop = rows[1].replace(",","")
    # df.loc[index,"Population_2010"] = float(pop)
    urban = rows[2].replace(",","")
    # df.loc[index,"Urban"] = float(urban)                                
    # df.loc[index,"Urban_Percent"] = 100*urban/total
    urban_percent = round(100*int(urban)/int(pop),1)
    print(f"{rows[0]} {urban_percent} ")
    df.loc[index,"Urban_Percent"] = urban_percent

    Alabama 58.3
    Alaska 59.6
    Arizona 88.4
    Arkansas 54.7
    California 93.7
    Colorado 83.1
    Connecticut 87.9
    Delaware 83.5
    District of Columbia 100.0
    Florida 91.1
    Georgia 73.9
    Hawaii 89.5
    Idaho 67.0
    Illinois 87.8
    Indiana 73.2
    Iowa 63.5
    Kansas 73.1
    Kentucky 58.0
    Louisiana 73.0
    Maine 34.8
    Maryland 87.1
    Massachusetts 91.4
    Michigan 71.9
    Minnesota 69.8
    Mississippi 49.1
    Missouri 69.4
    Montana 52.2
    Nebraska 70.8
    Nevada 93.5
    New Hampshire 55.9
    New Jersey 94.9
    New Mexico 75.1
    New York 85.5
    North Carolina 64.4
    North Dakota 57.3
    Ohio 79.5
    Oklahoma 65.6
    Oregon 79.3
    Pennsylvania 77.5
    Rhode Island 90.5
    South Carolina 66.6
    South Dakota 55.3
    Tennessee 65.6
    Texas 83.0
    Utah 86.7
    Vermont 33.0
    Virginia 73.1
    Washington 82.5
    West Virginia 48.1
    Wisconsin 66.4
    Wyoming 62.2
    Puerto Rico 93.5

In [170]:
df.sort_values(by="Urban_Percent")

,State,Population_2010,Urban,Urban_InUrbanAreas,Urban_InUrbanClusters,Total_Rural,Urban_Percent
91,Vermont,"322,539","106,561","45,774","60,787","215,978",33
39,Maine,"721,830","251,161","166,873","84,288","470,669",34.8
97,West Virginia,"881,917","424,443","289,445","134,998","457,474",48.1
49,Mississippi,"1,274,719","626,138","352,526","273,612","648,581",49.1
53,Montana,"482,825","251,958","116,980","134,978","230,867",52.2
7,Arkansas,"1,316,299","720,584","506,573","214,011","595,715",54.7
83,South Dakota,"363,438","200,981","105,088","95,893","162,457",55.3
59,New Hampshire,"614,754","343,920","265,821","78,099","270,834",55.9
69,North Dakota,"317,498","182,040","122,440","59,600","135,458",57.3
35,Kentucky,"1,927,164","1,117,530","779,669","337,861","809,634",58
1,Alabama,"2,171,853","1,267,224","1,040,659","226,565","904,629",58.3
3,Alaska,"306,967","182,989","123,286","59,703","123,978",59.6
101,Wyoming,"261,868","162,874","61,697","101,177","98,994",62.2
31,Iowa,"1,336,417","848,403","542,462","305,941","488,014",63.5
67,North Carolina,"4,327,528","2,787,646","2,280,125","507,521","1,539,882",64.4
85,Tennessee,"2,812,133","1,845,423","1,506,349","339,074","966,710",65.6
73,Oklahoma,"1,664,378","1,091,090","750,131","340,959","573,288",65.6
99,Wisconsin,"2,624,358","1,743,597","1,378,190","365,407","880,761",66.4
81,South Carolina,"2,137,683","1,423,307","1,203,977","219,330","714,376",66.6
25,Idaho,"667,796","447,466","320,550","126,916","220,330",67
51,Missouri,"2,712,729","1,881,796","1,519,706","362,090","830,933",69.4
47,Minnesota,"2,347,201","1,638,077","1,289,593","348,484","709,124",69.8
55,Nebraska,"796,793","564,143","409,695","154,448","232,650",70.8
45,Michigan,"4,532,233","3,256,662","2,887,280","369,382","1,275,571",71.9
37,Louisiana,"1,964,981","1,435,286","1,211,651","223,635","529,695",73
33,Kansas,"1,233,215","900,963","609,736","291,227","332,252",73.1
93,Virginia,"3,364,939","2,458,130","2,256,078","202,052","906,809",73.1
29,Indiana,"2,795,541","2,045,946","1,661,795","384,151","749,595",73.2
21,Georgia,"4,088,801","3,021,219","2,627,344","393,875","1,067,582",73.9
63,New Mexico,"901,388","677,019","467,906","209,113","224,369",75.1
77,Pennsylvania,"5,567,315","4,316,955","3,868,362","448,593","1,250,360",77.5
75,Oregon,"1,675,562","1,328,268","1,018,953","309,315","347,294",79.3
71,Ohio,"5,127,508","4,074,109","3,424,890","649,219","1,053,399",79.5
95,Washington,"2,885,677","2,379,818","2,123,384","256,434","505,859",82.5
87,Texas,"9,977,436","8,280,411","7,328,804","951,607","1,697,025",83
11,Colorado,"2,212,898","1,838,986","1,617,575","221,411","373,912",83.1
15,Delaware,"405,885","339,111","251,189","87,922","66,774",83.5
65,New York,"8,108,103","6,935,786","6,492,127","443,659","1,172,317",85.5
89,Utah,"979,709","848,925","753,757","95,168","130,784",86.7
41,Maryland,"2,378,814","2,073,112","1,953,855","119,257","305,702",87.1
27,Illinois,"5,296,715","4,653,006","4,175,309","477,697","643,709",87.8
13,Connecticut,"1,487,891","1,308,541","1,259,361","49,180","179,350",87.9
5,Arizona,"2,844,526","2,515,504","2,242,637","272,867","329,022",88.4
23,Hawaii,"519,508","465,032","343,223","121,809","54,476",89.5
79,Rhode Island,"463,388","419,181","416,552","2,629","44,207",90.5
19,Florida,"8,989,580","8,190,007","7,868,477","321,530","799,573",91.1
43,Massachusetts,"2,808,254","2,566,340","2,504,170","62,170","241,914",91.4
57,Nevada,"1,173,814","1,097,550","999,698","97,852","76,264",93.5
103,Puerto Rico,"1,636,946","1,529,804","1,480,462","49,342","107,142",93.5
9,California,"13,680,081","12,814,688","12,051,891","762,797","865,393",93.7
61,New Jersey,"3,553,562","3,373,106","3,286,946","86,160","180,456",94.9
17,District of Columbia,"296,719","296,719","296,719",0,0,100

In [104]:
total = df.Population_2010.replace(",","")
urban = df.Urban.replace(",","")

In [105]:
total

1       2,171,853
3         306,967
5       2,844,526
7       1,316,299
9      13,680,081
11      2,212,898
13      1,487,891
15        405,885
17        296,719
19      8,989,580
21      4,088,801
23        519,508
25        667,796
27      5,296,715
29      2,795,541
31      1,336,417
33      1,233,215
35      1,927,164
37      1,964,981
39        721,830
41      2,378,814
43      2,808,254
45      4,532,233
47      2,347,201
49      1,274,719
51      2,712,729
53        482,825
55        796,793
57      1,173,814
59        614,754
61      3,553,562
63        901,388
65      8,108,103
67      4,327,528
69        317,498
71      5,127,508
73      1,664,378
75      1,675,562
77      5,567,315
79        463,388
81      2,137,683
83        363,438
85      2,812,133
87      9,977,436
89        979,709
91        322,539
93      3,364,939
95      2,885,677
97        881,917
99      2,624,358
101       261,868
103     1,636,946
Name: Population_2010, dtype: object

In [90]:
total.iloc[0].replace(",","")

'2171853'

In [96]:
urban_percent = urban/total

TypeError: unsupported operand type(s) for /: 'str' and 'str'